@charset "UTF-8";

/* Home */
.article-list {
    display: grid;
}

.article-a {
    font-size: 150%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid #CCC;
}

.article-box {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 20px 20px;
    border: 1px groove #DDD;
}

.article-box:hover {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, .5);
}

.article-thumbnail {
    height: 144px;
    width: 256px;
    object-fit: cover;
    border: 2px solid #CCC;
}

.article-summary {
    padding: 0 0 0 5%;
}

.article-title {
    font-size: 130%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.article-opening {
    font-size: 80%;
    text-align: justify;
    line-height: 120%;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 0 0;
}

.article-taglist {
    display: flex;
    height: 10px;
}

.article-tag {
    margin: 0 5px;
    font-size: 80%;
}

.article-tag:hover {
    color: #ffdd00;
}

.article-date {
    font-size: 80%;
}

.article-date:hover {
    color: #ffdd00;
}